* { margin: 0; padding: 0; }
body { font-size: 12px; font-family: "微软雅黑","Microsoft Yahei",Arial,Helvetica,"宋体" }
html { }
ol, ul {list-style: none; }
a { color: #666; text-decoration: none; out-line: none; }
a:hover { color: #506B8F; text-decoration: none; }
img { border: 0; }
select { border-radius: 2px; border: 1px solid #e0dfdd; background: #FFF; }
textarea { overflow: auto; vertical-align: top; }
.left { float: left; }
.right { float: right; }
.clear { clear: both; height: 0; line-height: 0; overflow: hidden; font-size: 0; }
.clear10 { clear: both; height: 10px; overflow: hidden; font-size: 0; }
.clearfix{ overflow: hidden; _zoom: 1; }

/*输入框*/
.in_btn { width: 185px; padding: 3px 0; background: #F0EFEF; float: left; text-align: center; }

.box_s { width: 400px; margin: 0 auto; overflow: hidden; zoom: 1; }
.box { width: 1000px; margin: 0 auto; overflow: hidden; zoom: 1; }

.in_header { padding-top: 50px; padding-bottom: 15px; margin-bottom: 100px; border-bottom: 5px solid #CCC; }
.in_header .logo { float: left; font-size: 44px; margin-right: 20px; }
.in_header .remark { float: right; font-family: '宋体'; color:#929292; margin-top: 12px; }
.in_header .weburl { float:right; color:#000; font-size: 24px; font-weight: 600; }
.in_header .weburl span { color: #8C8C8D; }

.in_info { color: #808080; margin: 15px 0 50px 0; }

.pagination { padding: 3px; font-size: 12px; margin-top: 5px; text-align: center;}
.pagination a { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #CCC; text-decoration: none; color:#DC351A;}
.pagination a:hover, div.pagination a:active { border: 1px solid #DC351A; background-color: #DC351A; color: #FFF; }
.pagination span.current { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #DC351A; font-weight: bold; background-color: #DC351A; color: #FFF; }
.pagination span.disabled { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #EEE; color: #DDD; }

.showmessage { width: 300px; margin: 0 auto; border: 1px solid #8EB3E7; margin-top: 100px; }
.showmessage h2 { height: 25px; line-height: 25px; background: #4C587D; color: #FFF; font-size: 14px; text-align: center; border-bottom: 1px solid #8EB3E7; }
.showmessage p { padding: 10px 15px; }